:root {
    --bg: #fff;
    --fg: #000;
}
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--bg);
    color: var(--fg);
}
div#blogcontent {
    height: auto;
    margin: 5px auto 5px auto;
}
div#blogcontent img {
    width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6, p { margin: 12px 5px 12px 5px; font-weight: normal; }
@media (min-width: 600px) { div#blogcontent { width: 100%; } }
@media (min-width: 680px) { div#blogcontent { width: 65%; } }
@media (min-width: 960px) { div#blogcontent { width: 55%; } }
a {
    margin: 5px;
    color: red;
}
div#themeChange {
    margin-left: auto;
    margin-right: auto;
    display: table;
}
div#themeChange select {
    background: var(--bg);
    color: var(--fg);
    border: 2px solid var(--fg);
}
div#loadingOverlay {
    width: 100%;
    height: 100%;
    background-color: rgb(128, 128, 128);
    position: fixed;
    top: 0; left: 0;
}
div#loadArticle h2, div#loadArticle img, div#error h2, div#error svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
div#error { display: none; }